/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Черный фон */
}

/* Контейнер для игры */
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111; /* Темный фон для игры */
}
/* 



/* Джойстик */
#joystick {
    position: absolute;
    width: 100%;
    height: 7vh;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    /* Убираем плавность перемещения */
    transition: none;
}

